.myPointContainer {
  height: 125px;
  background-color: rgba(156, 223, 235, 0.527);
}

.myInfoContainer {
  height: 125px;
}

.myContainer {
  width: 600px;
  cursor: default;
}

.fa-angle-up:hover {
  color: rgba(4, 4, 107, 0.911);
}

.fa-angle-down:hover {
  color: rgba(4, 4, 107, 0.911);
}
