.myContainer {
  width: 700px;
  height: 250px;
  border-radius: 0.2rem;
  border-style: solid;
  border-color: rgba(186, 214, 245, 0.897);
  border-width: thin;
  background-color: rgba(140, 245, 245, 0.432);
}
