<div class="container mt-5 myContainer">
  <div class="row d-flex justify-content-center mt-3">
    <div class="row d-flex justify-content-center mt-1">
      <div class="col-md-12 mt-3">
        <h4>Add a Link</h4>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
      <form>
        <div class="row justify-content-center mt-3">
          <mdb-form-control class="col-md-11">
            <input
              mdbInput
              class="form-control form-control-md"
              type="text"
              id="title"
              #title
            />
            <label mdbLabel class="form-label" for="title">Title</label>
          </mdb-form-control>
        </div>
        <div class="row justify-content-center mt-3">
          <mdb-form-control class="col-md-11">
            <input
              mdbInput
              class="form-control form-control-md"
              type="text"
              id="link"
              #link
            />
            <label mdbLabel for="link" class="form-label">Link</label>
          </mdb-form-control>
        </div>
      </form>
      <div class="row justify-content-start mt-3">
        <div class="col-md-3 pt-1 mySubmitButton">
          <button
            mdbRipple
            type="button"
            class="btn btn-light"
            (click)="addArticle(title, link)"
          >
            Submit!
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3 pb-5">
    <div *ngFor="let article of sortedArticles()" class="col mt-5">
      <app-article [article]="article"></app-article>
    </div>
  </div>
</div>
